---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/sections/Navbar.astro";
import Hero from "@/components/sections/Hero.astro";
import ChooseDocs from "@/components/sections/ChooseDocs.astro";
import Community from "@/components/sections/Community.astro";
import FooterStatus from "@/components/sections/FooterStatus.astro";
---

<Layout title="SteelDocs">
  <Navbar />
  <Hero
    pillText="В разработке"
    heroTitle="Steel"
    heroTitleHighlight="MC"
    subtitle="Minecraft в новом обличье, написан на Rust и спроектирован с учётом многопоточности. Мы стремимся к ванильному поведению, производительности и расширяемости."
    mainCtaText="Присоединиться!"
    secondCtaText="Документация"
  />
  <main
    class="container mx-4 w-auto lg:mx-auto max-w-280 px-4 mt-16 lg:-mt-12 text-white relative z-10"
  >
    <ChooseDocs
      sectionLabel="ВЫБЕРИТЕ ДОКУМЕНТАЦИЮ!"
      sectionTitle="Привет, чем хотите заняться?"
      sectionDescription="Steel тщательно спроектирован для каждого. Разработчик, администратор? Не важно, чем вы хотите заниматься — документация найдётся для всех!"
      adminHref="/ru/guides/getting-started/for-users/"
      adminImage="/admin.png"
      adminImageAlt="Документация для администраторов"
      adminLabel="Администратор"
      devHref="/ru/guides/getting-started/for-devs/"
      devImage="/contributor.png"
      devImageAlt="Документация для разработчиков"
      devLabel="Разработчик"
    />
    <Community
      heading="Заинтересованы?"
      headingHighlight="Присоединяйтесь!"
      descriptionBold1="Steel — место, где сообщество собирается вместе"
      descriptionMiddle=" чтобы программировать, общаться и веселиться. От талантливых разработчиков до самых больших болтунов — "
      descriptionBold2="каждый желанный гость!"
      descriptionAfter=" Мы просто группа людей, пытающихся сделать крутой Minecraft сервер. Погнали!"
    />
    <FooterStatus
      prefix="Steel —"
      rotatingTexts={[
        "в разработке",
        "ещё не готов",
        "та пох, мы всёравно всё сделаем",
        "кстати, сплав 🤓☝️",
        "сделан с любовью",
        "чертовски быстрый",
        "ржавый",
        "варим!",
        "пьяные парни хайпят 4lve",
        "благодарим контрибьюторов",
      ]}
    />
  </main>
</Layout>